.header {
    margin: 0 auto;
    height: 80px;
    display: flex;
    padding: 0 40px;
    position: relative;
    max-width: 1500px;
    align-items: center;
    flex-direction: row;
}
.header__menu{
    flex: 1 0 auto;
    text-align: center;
    background: white;
    
}
.header__menu > ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0 auto;
}
.header__menu > ul > li {
    padding:0 20px;
    font-size: 16px;
}
.header__button {
    color: #000;
    height: 32px;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 7px 16px;
    display: inline-block;
    font-size: 15px;
    background: transparent;
    box-shadow: none;
    line-height: 16px;
    margin-left: 20px;
    white-space: nowrap;
    border-radius: 100px;
}