<div class="header">
    <div class="header__logo">
        <img src="https://yastatic.net/s3/eda-front/www/assets/logo-2b8cf6236b94ab214aa24b00ce106d16.svg">
    </div>
    <div class="header__menu">
        <ul>
            <li>Ресторанам</li>
            <li>Курьерам</li>
            <li>Компаниям</li>
        </ul>
    </div>
    <div class="header__cities__login">
        <button class="header__button">
            Бишкек
        </button>
        <button class="header__button">
            Войти
        </button>
    </div>
</div>